<section class="common-banner" style="background-image: url(/assets/images/banner-offer-details.jpg);">
    
    <div class="banner-content">
        <h4> <span class="italic">Elope </span> to the romantic Napa Valley.</h4>
        <div class="ita_large_text left-line">Our authentic Napa Valley boutique inn is the perfect destination for love and celebration.</div>
        <a href="/events" class="theme-btn" >Learn More<i class="fa fa-angle-right" aria-hidden="true"></i></a>

    </div>

</section>