<div id="fire-popup" class="modal fade" role="dialog" style="top: 250px;">
    <div class="modal-dialog">
  
      <div class="modal-wrapper">
  
        <button type="button" class="close" data-dismiss="modal">&times;</button>
  
        <div class="modal-content">
  
          <div class="modal-top">
            <p style="text-align: left;">Since last Sunday, fires have wreaked havoc and destruction in many areas surrounding the Napa Valley.<br><br>
              
              We are all left with heavy hearts for those directly affected by the wildfires, however remain grateful to all the heroes and for all that remains.<br><br>
              
              We are fortunate our Wine Country Inn family is intact and has not been directly impacted by the fires.<br><br>
              
              Now, we join our neighbors in the wake of tragedy to let the world know we are touched by their well wishes and invite all to see the Napa Valley remains among the most majestic sceneries and even more precious than ever.<br><br>
              
              The best thing you can do to help…is come visit our vineyards, shops and restaurants.<br><br>
              
              With open arms, we have reopened our doors and welcome our guests.<br><br>
              
              With Gratitude,<br>
              Team Wine Country Inn</p>
          </div>
  
        </div>
  
      </div>
  
    </div>
  </div>
