<div id="fire-popup" class="modal fade" role="dialog" style="top: 250px;">
    <div class="modal-dialog">
  
      <div class="modal-wrapper">
  
        <button type="button" class="close" data-dismiss="modal">&times;</button>
  
        <div class="modal-content">
  
          <div class="modal-top">
            <p>There are several fire conditions surrounding the Napa Valley.<br><br>
            It is highly inadvisable to travel to Napa, unless it is an emergency.<br><br>
            We will be accepting guests starting Tuesday, October 17th, 2017 at 4PM PST</p>
          </div>
  
        </div>
  
      </div>
  
    </div>
  </div>
