<div id="fire-popup" class="modal fade" role="dialog" style="top: 250px;">
    <div class="modal-dialog">
  
      <div class="modal-wrapper">
  
        <button type="button" class="close" data-dismiss="modal">&times;</button>
  
        <div class="modal-content">
  
          <div class="modal-top">
            <img src="/assets/images/LBE-Image-1.jpg" class="img-responsive" alt="">
            <p style="text-align: left;">Experience St. Helena during Napa Valley’s Cabernet Season. November through March is the time to enjoy the laid back atmosphere of the valley when the vines have been harvested and the wine has been put to rest in the cellar.<br><br>
              
              St. Helena’s top wineries, restaurants and hotels welcome guests to cozy up in this small town with our “Little Book of Big Experiences”. We have put together 25 Big Experiences that will entice you to visit once, twice or more and stay for several days each trip.<br><br>
              
              Receive 15% Off each night and one Little Book of Big Experiences per person! Based on availability, blackout dates apply. See link for details.<br><br></p>
              <div class="text-center">
              <a href="https://res.windsurfercrs.com/ibe/details.aspx?propertyid=14513&rate=LBE&nono=1" class="theme-btn" target="_blank" title="Learn More">Learn More<i class="fa fa-angle-right" aria-hidden="true"></i></a>
              </div>
              
          </div>
  
        </div>
  
      </div>
  
    </div>
  </div>
