
<footer>
<section class="top-footer">

	<div class="footer-container no-padding">
			<div class="footer-top-wrapper ">
			<div class="logo-section">
			<img class="img-fluid" alt="" src="/assets/images/footer-logo.png"/>
			</div>
			<div class="address-section">
				<div class="left-line">
				
				<h4>address</h4>
				<a href="/"> 	1152 Lodi Lane<br> St. Helena, CA <br> 94574<br> United States</a>
				</div>
				</div>
			<div class="contact-section ">
				<div class="left-line">
				<h4>contact us</h4>
				<a href="mailto:romance@winecountryinn.com">  romance@winecountryinn.com</a>
				<a href="tel:(707) 963-7077">  Phone:	(707) 963-7077</a>
				<a href="tel:(707) 963-9018">  Fax:		(707) 963-9018</a>
				<a href="tel:(888) 465-4608"> Toll-Free:	(888) 465-4608</a>
				</div>
			</div>
			<div class="quick-section ">
				<div class="left-line">
				<h4>quick links</h4>
				<a href="/">    Accommodations</a>
				<a href="/">	Amenities</a>
				<a href="/">	Packages & Specials</a>
				<a href="/">	Gift Certificates</a>
				<a href="/">	Group Events RFP</a>
				</div>
			</div>
			<div class="news-section col-md-3">
				<div class="left-line">
				<h4>Newsletter</h4>
				<p>Subscribe to learn more about upcoming events and specials going on at the inn.
				<div class="form-holder ">

					<div class="input-group">
				      <input type="text" class="form-control" placeholder="Your email address">
				      <span class="input-group-btn">
				        <button class="btn" type="button"> Subscribe  <i class="fa  fa-angle-right" aria-hidden="true"></i></button>
				      </span>
				    </div>
		            
		          
		          </div>
				</div>
			</div>
			</div>
	</div>

</section>

</footer>
<section class="footer-copyright">
    <div class="copyright-container">
    <div class="copyright-row d-flex align-items-center">
        <div class="copyright-content">Copyright 2017.  Wine Country Inn. All Rights Reserved.</div>
        {% include social-share.html %}
        <div class="credentials"><strong>Powered By</strong> <a href="https://www.traveltripper.com/" target="_blank"><img src="/assets/images/traveltripper-logo.png" class="img-fluid" alt="Travel Trpper"></a></div>
    </div>
    </div>
</section>