<meta charset="utf-8">
{% include analytics.html %}

<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-74129016-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());
  gtag('config', 'UA-21804774-1');
</script>

{% include seo.html %}
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script>
    document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>
<link rel="stylesheet" href="{{ '/assets/css/lightgallery.css' | absolute_url }}">
<link rel="stylesheet" href="{{ '/assets/css/jquery-ui.css' | absolute_url }}">
<link rel="stylesheet" href="{{ '/assets/css/owl.carousel.min.css' | absolute_url }}">
<link rel="stylesheet" href="{{ '/assets/css/nice-select.css' | absolute_url }}">
<link rel="stylesheet" href="{{ '/assets/css/main.css' | absolute_url }}">
<!--[if IE]>
<link rel="stylesheet" href="{{ '/assets/css/bootstrap-ie8.css' | absolute_url }}">
<script src="https://cdn.jsdelivr.net/g/html5shiv@3.7.3,respond@1.4.2"></script>
<![endif]-->
<script src="https://use.fontawesome.com/8e70f1644b.js"></script>
<meta http-equiv="cleartype" content="on">
<div id="fb-root"></div>
