{% assign leftmenuitems = site.data.navigation.leftmenu %}
{% assign rightmenuitems = site.data.navigation.rightmenu %}

<section class="navbar-section">	
	<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	    </button>
		<a class="small-logo" href="/" title="Wine Country Inn">
			<img src="/assets/images/small-logo.png" alt="Wine Country Inn" />
		</a>
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	        <ul class="navbar-nav mr-auto">
	            {% for item in leftmenuitems %}
	            <li class="nav-item {% if page.url == item.url %} active {% endif %} {% if page.parent == item.url %} active {% endif %}">
	                <a class="nav-link" href="{{item.url | absolute_url}}" title="{{ item.title }}">{{ item.title }} {% if page.url==item.url %}<span class="sr-only">(current)</span>{% endif%}</a>
	            </li>
	            {% endfor %}
           		<li class="nav-item logo-item">
	           		<div class="header-logo">           			
						<a href="/" title="Wine Country Inn">
							<img src="/assets/images/main-logo.png" alt="Wine Country Inn" />
						</a>
	           		</div>
				</li>
	            {% for item in rightmenuitems %}
	            <li class="nav-item {% if page.url == item.url %} active {% endif %} {% if page.parent == item.url %} active {% endif %}">
	                <a class="nav-link" href="{{item.url | absolute_url}}">{{ item.title }} {% if page.url==item.url %}<span class="sr-only">(current)</span>{% endif%}</a>
	            </li>
	            {% endfor %}
	        </ul>
	    </div>
	    <a href="#" class="theme-btn check-availability-btn" title="Book Now">Book Now</a>
	</nav>
</section>