<div id="roomsSlider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators custom">
        <li data-target="#roomsSlider" data-slide-to="0" class="active">
        	<span>01</span>
        </li>
        <li data-target="#roomsSlider" data-slide-to="1">
        	<span>02</span>
        </li>
        <li data-target="#roomsSlider" data-slide-to="2">
        	<span>03</span>
        </li>
        <li data-target="#roomsSlider" data-slide-to="3">
        	<span>04</span>
        </li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="carousel-bg bg-center-center bg-cover bg-norepeat" style="background-image: url('/assets/images/home/room-slide-1.jpg');">
            	<div class="room-text">
            		<span class="slide-count">
            			1 / 4
            		</span>
            		<h3 class="left-line">The Winery House</h3>
            		<p class="left-gap">from $250 per night</p>
            		<a href="#" class="theme-btn transparent-dark">View Room <i class="fa fa-angle-right"></i></a>
            		<a href="#" class="theme-btn">Book Now <i class="fa fa-angle-right"></i> </a>
            	</div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="carousel-bg bg-center-center bg-cover bg-norepeat" style="background-image: url('/assets/images/home/room-slide-1.jpg');">
            	<div class="room-text">
            		<span class="slide-count">
            			2 / 4
            		</span>
            		<h3 class="left-line">The Winery House</h3>
            		<p class="left-gap">from $250 per night</p>
            		<a href="#" class="theme-btn transparent-dark">View Room <i class="fa fa-angle-right"></i></a>
            		<a href="#" class="theme-btn">Book Now <i class="fa fa-angle-right"></i> </a>
            	</div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="carousel-bg bg-center-center bg-cover bg-norepeat" style="background-image: url('/assets/images/home/room-slide-1.jpg');">
            	<div class="room-text">
            		<span class="slide-count">
            			3 / 4
            		</span>
            		<h3 class="left-line">The Winery House</h3>
            		<p class="left-gap">from $250 per night</p>
            		<a href="#" class="theme-btn transparent-dark">View Room <i class="fa fa-angle-right"></i></a>
            		<a href="#" class="theme-btn">Book Now <i class="fa fa-angle-right"></i> </a>
            	</div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="carousel-bg bg-center-center bg-cover bg-norepeat" style="background-image: url('/assets/images/home/room-slide-1.jpg');">
            	<div class="room-text">
            		<span class="slide-count">
            			4 / 4
            		</span>
            		<h3 class="left-line">The Winery House</h3>
            		<p class="left-gap">from $250 per night</p>
            		<a href="#" class="theme-btn transparent-dark">View Room <i class="fa fa-angle-right"></i></a>
            		<a href="#" class="theme-btn">Book Now <i class="fa fa-angle-right"></i> </a>
            	</div>
            </div>
        </div>
    </div>
    <div class="carousel-arrows">
    	<a data-slide="prev" href="#roomsSlider" class="bg-center-center bg-norepeat left-arrow">
    	</a>
    	<a data-slide="next" href="#roomsSlider" class="bg-center-center bg-norepeat right-arrow">
    	</a>
    	<div class="clear-float"></div>
    </div>
</div>