<div id="roomsSlider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators custom">

         {% assign accom-List = site.data._models.accommodations | sort:'order' | limit: 4 %}
            
         {% for accommodations in accom-List %}

          <li data-target="#roomsSlider" data-slide-to="{{forloop.index0}}" class="{% if forloop.index == 1 %} active {% endif %}">
            <span>  0{{forloop.index}}</span>
          </li>
         {% endfor %}       

    </ol>
    <div class="carousel-inner" role="listbox">
     {% assign accom-List = site.data._models.accommodations | sort:'order' | limit: 4 %}
      {% for accommodations in accom-List %}
        <div class="carousel-item bg-center-center bg-cover bg-norepeat {% if forloop.first == true %} active{% endif %}" >
            <div class="carousel-bg bg-center-center bg-cover bg-norepeat" style="background-image: url({{accommodations.large_image.url}});">
            	<div class="room-text">
            		<!-- <span class="slide-count">
            			1 / {{forloop.index }}
            		</span> -->
            		<h3 class="left-line">{{accommodations.title }}</h3>
            		<p class="left-gap">{{accommodations.short_description }}</p> 
            		<a href="/accommodations/{{accommodations.url_friendly_name}}/" class="theme-btn transparent-dark">View Room <i class="fa fa-angle-right"></i></a>
            		<a href="{{accommodations.booking_url}}" class="theme-btn">Book Now <i class="fa fa-angle-right"></i> </a>
            	</div>
            </div>
        </div>
           {% endfor %}
       
      
    </div>
    <div class="carousel-arrows">
    	<a data-slide="prev" data-target="#roomsSlider" class="bg-center-center bg-norepeat left-arrow" title="Previous Slide">
    	</a>
    	<a data-slide="next" data-target="#roomsSlider" class="bg-center-center bg-norepeat right-arrow" title="Next Slide">
    	</a>
    	<div class="clear-float"></div>
    </div>
</div>