<script src="{{ '/assets/js/main.min.js' | absolute_url }}"></script>

{% if site.data.api-keys.maps.google.enabled != false %}
    <script type="text/javascript" src="//maps.google.com/maps/api/js?key={{ site.data.api-keys.maps.google.api-key }}"></script>
{% endif %}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/assets/js/lightgallery.js"></script>
<script src="/assets/js/lg-fullscreen.js"></script>
<script src="/assets/js/lg-thumbnail.js"></script>
<script src="/assets/js/jquery-ui.js"></script>
<script src="/assets/js/scripts.js"></script>
<script src="/assets/js/instafeed.min.js"></script>
<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
<script type="text/javascript">
	$(document).ready(function () {

			
    function initialize() {
                     
    var myLatLng = { lat: 38.526192, lng: -122.494767 };
    var stylemap = [
  {
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#f5f5f5"
      }
    ]
  },
  {
    "elementType": "labels.icon",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#616161"
      }
    ]
  },
  {
    "elementType": "labels.text.stroke",
    "stylers": [
      {
        "color": "#f5f5f5"
      }
    ]
  },
  {
    "featureType": "administrative.land_parcel",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#bdbdbd"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#eeeeee"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#757575"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#e5e5e5"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#9e9e9e"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#ffffff"
      }
    ]
  },
  {
    "featureType": "road.arterial",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#757575"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#dadada"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#616161"
      }
    ]
  },
  {
    "featureType": "road.local",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#9e9e9e"
      }
    ]
  },
  {
    "featureType": "transit.line",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#e5e5e5"
      }
    ]
  },
  {
    "featureType": "transit.station",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#eeeeee"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#c9d3d4"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#c9d3d4"
      }
    ]
  }
];
    if(document.getElementById('map')){
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          styles: stylemap,         

          center: new google.maps.LatLng(38.526192, -122.494767),
          scrollwheel: false,
          disableDefaultUI: true
        });



        var iconBase = '/assets/images/';

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: ' Wine Country Inn & Cottages',
          icon: iconBase + 'logo-icon.png'
        });
    }


    }// END MAP FUNCTION 
 initialize();
		});

</script>
