<script src="{{ '/assets/js/main.min.js' | absolute_url }}"></script>

{% if site.data.api-keys.maps.google.enabled != false %}
    <script type="text/javascript" src="//maps.google.com/maps/api/js?key={{ site.data.api-keys.maps.google.api-key }}"></script>
{% endif %}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/assets/js/lightgallery.js"></script>
<script src="/assets/js/lg-fullscreen.js"></script>
<script src="/assets/js/lg-thumbnail.js"></script>
<script src="/assets/js/jquery-ui.js"></script>
<script src="/assets/js/scripts.js"></script>
<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>