<div class="social-content  text-center">
 
  <a href="/" title="Share on Facebook"><i class="fa fa-fw fa-facebook" aria-hidden="true"></i></a>
  <a href="/" title="Share on Google Plus"><i class="fa fa-fw fa-google-plus" aria-hidden="true"></i></a>
  <a href="/" title="Share on youtube"><i class="fa fa-fw fa-youtube" aria-hidden="true"></i></a>
  <a href="/" title="Share on Pinterest"><i class="fa fa-fw fa-pinterest-p" aria-hidden="true"></i></a>
  <a href="/" title="Share on youtube"><i class="fa fa-fw fa-yelp" aria-hidden="true"></i></a>
  <a href="/" title="Share on tripadvisor"><i class="fa fa-fw fa-tripadvisor" aria-hidden="true"></i></a>

  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}" title="Share on LinkedIn"><i class="fa fa-fw fa-linkedin" aria-hidden="true"></i></a>
</div>
