<div class="social-content  text-center">
 
  <a rel="nofollow" href="https://www.facebook.com/WineCountryInn" target="_blank" title="Follow us on Facebook"><i class="fa fa-fw fa-facebook" aria-hidden="true"></i></a>

  <a rel="nofollow" href="https://plus.google.com/+WineCountryInnSaintHelena/posts" target="_blank" title="Follow us on Google Plus"><i class="fa fa-fw fa-google-plus" aria-hidden="true"></i></a>

  <a rel="nofollow" href="https://www.youtube.com/user/NapaValleyInn" target="_blank" title="Follow us on You Tube"><i class="fa fa-fw fa-youtube" aria-hidden="true"></i></a>

  <a rel="nofollow" href="https://www.pinterest.com/winecountryinn1/" target="_blank" title="Follow us on Pinterest"><i class="fa fa-fw fa-pinterest-p" aria-hidden="true"></i></a>

  <a rel="nofollow" href="http://www.yelp.com/biz/wine-country-inn-saint-helena" target="_blank" title="Follow us on Yelp"><i class="fa fa-fw fa-yelp" aria-hidden="true"></i></a>

  <a rel="nofollow" href="https://www.tripadvisor.com/Hotel_Review-g33000-d111942-Reviews-The_Wine_Country_Inn-St_Helena_Napa_Valley_California.html" target="_blank" title="Follow us on Trip Advisor"><i class="fa fa-fw fa-tripadvisor" aria-hidden="true"></i></a>
  <!-- <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}" title="Share on LinkedIn"><i class="fa fa-fw fa-linkedin" aria-hidden="true"></i></a> -->
</div>
