.accommodations-container{
	@extend .container;
	max-width:1080px;
	padding-bottom: 4rem;
	
	.accommodations-row{
		@extend .row;
		margin-right: 0;
		margin-left: 0;
		.accommodations-col{
			@extend .col-lg-12;
			padding-left: 0px;
			padding-right: 0px;
			.left-line{
				@extend .left-line;
			}
			h3{
				color: $black;					
				font-size:2rem;				
				@include media-breakpoint-up(lg){
					
					    font-size: 3.5rem;
					    padding: 6.4rem 0 2.5rem 0;
					    line-height: 4rem;
				}
			}

			h5{
				margin-bottom: 2rem;
			}
			p{
				
				margin-bottom: 2rem;
			}

		}
		
	}
}


.accom-list-container{
	padding:0;
	@extend .container;
	.accom-item{
		@extend .row;
		margin:0;
		margin-bottom: 7rem;
		
		.accom-item-col{
			padding:0;
			@extend .col-lg-5;	
			background-color: $dark-grey;
		    color:$white;	
		    &.offerbg{
		    	background-color: $primary-color;

		    	h4{
		    		    margin-bottom: 1rem;
		    	}
		    }
			span{
				    position: absolute;
				    left: 0;
				    top: -25px;
			}
			h6{
				margin:1rem 0;
			}
			p{
				 color:$white;	
				 max-width: 430px;
				 margin-bottom: 3rem;
			}
			.btns-group{
				a:first-child{
					margin-right:1rem;
				}
			}
		

		 	.accom-item-text{
		 		@extend .left-line;
		 		top:10px;
		 		margin:2rem 1rem;
		 		@include media-breakpoint-up(md){
		 		margin:4rem 1rem;	
		 		}
		 		@media screen and (min-width: 1380px){

		 			margin:8rem 0 8rem 4rem;	
		 		}
		 		
		 		&:before{
		 			 background-color: $white;
		 		}
		 	}		
		}
		.accom-item-img{
			padding:0;
			min-height: 20rem;
		@extend .col-lg-7;		
						
		}
		
	}
}

.common-banner{
	padding: 6rem 1rem;
	margin-top: 6rem;
	@include media-breakpoint-up(md){
				padding: 12rem 1rem;
	 			margin-top: 6rem;
	 		}
	@extend .bg-img-cover;
	.banner-content{
		background: rgba(255, 255, 255, 0.8);
		@extend .m-auto;
		    padding: 2rem;
    		max-width: 635px;
    		@include media-breakpoint-up(md){
    		padding: 3.5rem;
    		}
    		h4{
    			color:$black;
    			font-size: 2rem;
    			@include media-breakpoint-up(md){
	    		font-size: 3.5rem;
	    		}
    		}
    		.ita_large_text{
    			font-family:$headings_font_semiboldita;
    		}
		
	}
	
}



