.attraction-image{
	margin-top: 60px;
	@media screen and (min-width: 992px){
		margin-top: 120px;
	}
	.attraction-details-container{
		@extend .container;
		img{
			width: 100%;
		}
	}
}

.attraction-details-content{
	@extend .container;
	padding-top: 6.25rem;
	.detail-inner{
		margin: 0 0 0 2rem;
		max-width: 1080px;
		@include media-breakpoint-up(lg) {
			margin: 0 0 0 7rem;
			max-width: 80%;
		}		
		@include media-breakpoint-up(xl) {
			margin: 0 0 0 15rem;
			max-width: 1080px;
		}

		h2{
			color: $black;
			text-transform: none;
			padding-bottom: 2.813rem;
		}
		.semi-ital{
			padding-bottom: 2.5rem;
		}
		.theme-btn{
			margin-bottom: 3.75rem;
		}
		h3{
			padding-bottom: 0.5rem;
			font-size: 1.25rem;
			font-family: $site_font_medium;
			font-weight: 700;
		}
		p{
			padding-bottom: 2rem;
		}
		ul{
			padding-bottom: 1.563rem;
		}
		.images-sec{
			@extend .row;
			.image-1{
				@extend .col-md-7;
			}
			.image-2{	
				@extend .col-md-5;
			}
			.image-1, .image-2{
				padding-left: 30px;
				padding-right: 30px;
				img{
					padding-bottom: 1rem;
					width: 100%;
					@include media-breakpoint-up(lg) {
						height: 500px;
					}
				}
				.image-caption{
					font-size: 0.9rem;
					font-style: italic;
					span{
						font-size: 10px;
					}
				}
			}
		}
		.seperator{
			height: 1px;
			width: 100%;
			background-color: $light-grey3;
			margin: 3.125rem 0;
		}
	}
}