@font-face{
    font-family:"Avenir LT W01_45 Book1475508";
    src:url("/assets/fonts/710789a0-1557-48a1-8cec-03d52d663d74.eot?#iefix");
    src:url("/assets/fonts/710789a0-1557-48a1-8cec-03d52d663d74.eot?#iefix") format("eot"),url("/assets/fonts/065a6b14-b2cc-446e-9428-271c570df0d9.woff2") format("woff2"),url("/assets/fonts/65d75eb0-2601-4da5-a9a4-9ee67a470a59.woff") format("woff"),url("/assets/fonts/c70e90bc-3c94-41dc-bf14-caa727c76301.ttf") format("truetype"),url("/assets/fonts/0979215b-3a1b-4356-9c76-e90fa4551f1d.svg#0979215b-3a1b-4356-9c76-e90fa4551f1d") format("svg");
}
@font-face{
    font-family:"Avenir LT W01_65 Medium1475532";
    src:url("/assets/fonts/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix");
    src:url("/assets/fonts/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix") format("eot"),url("/assets/fonts/17b90ef5-b63f-457b-a981-503bb7afe3c0.woff2") format("woff2"),url("/assets/fonts/c9aeeabd-dd65-491d-b4be-3e0db9ae47a0.woff") format("woff"),url("/assets/fonts/25f994de-d13f-4a5d-a82b-bf925a1e054d.ttf") format("truetype"),url("/assets/fonts/3604edbd-784e-4ca7-b978-18836469c62d.svg#3604edbd-784e-4ca7-b978-18836469c62d") format("svg");
}
@font-face{
    font-family:"Avenir LT W01_95 Black1475556";
    src:url("/assets/fonts/f55e4498-ad48-4577-93a0-c614de5cbbb8.eot?#iefix");
    src:url("/assets/fonts/f55e4498-ad48-4577-93a0-c614de5cbbb8.eot?#iefix") format("eot"),url("/assets/fonts/c78eb7af-a1c8-4892-974b-52379646fef4.woff2") format("woff2"),url("/assets/fonts/75b36c58-2a02-4057-a537-09af0832ae46.woff") format("woff"),url("/assets/fonts/b5c44a82-eeb8-41de-9c3f-a8db50b24b8a.ttf") format("truetype"),url("/assets/fonts/93603a74-2be0-436c-83e1-68f9ef616eaf.svg#93603a74-2be0-436c-83e1-68f9ef616eaf") format("svg");
}
@font-face{
    font-family:"Bembo W01";
    src:url("/assets/fonts/e5488079-e286-434f-a7a2-47bdf487a905.eot?#iefix");
    src:url("/assets/fonts/e5488079-e286-434f-a7a2-47bdf487a905.eot?#iefix") format("eot"),url("/assets/fonts/317cdafb-860b-4d5e-aef3-bdbdad1385eb.woff2") format("woff2"),url("/assets/fonts/b30aa007-b477-43cc-81eb-d34f48807cb5.woff") format("woff"),url("/assets/fonts/f75d5781-c9d6-4a95-b024-72e1ac96a7e1.ttf") format("truetype"),url("/assets/fonts/e8bd1ce0-6a1d-4c97-a49b-3e771cc9d5ec.svg#e8bd1ce0-6a1d-4c97-a49b-3e771cc9d5ec") format("svg");
}
@font-face{
    font-family:"Bembo MT W01 Semibold705762";
    src:url("/assets/fonts/688fabe9-0cfe-469f-baca-6e66f1959ef4.eot?#iefix");
    src:url("/assets/fonts/688fabe9-0cfe-469f-baca-6e66f1959ef4.eot?#iefix") format("eot"),url("/assets/fonts/69fe426b-8e7c-4b0c-8917-f80b388a09e1.woff2") format("woff2"),url("/assets/fonts/a931fbc0-f12f-4dbb-a45e-1adbd3080938.woff") format("woff"),url("/assets/fonts/b09add56-c350-4067-81ba-4c9d741cdb99.ttf") format("truetype"),url("/assets/fonts/0e37fa2e-9534-4cd7-899a-551d26005630.svg#0e37fa2e-9534-4cd7-899a-551d26005630") format("svg");
}
 @font-face{
    font-family:"BemboMTW01-SemiboldItal";
    src:url("/assets/fonts/276f13e9-5cb5-482e-a0de-43b2c621670d.eot?#iefix");
    src:url("/assets/fonts/276f13e9-5cb5-482e-a0de-43b2c621670d.eot?#iefix") format("eot"),url("/assets/fonts/ae9e8aff-2076-40fc-92b2-e5baebfc77a7.woff2") format("woff2"),url("/assets/fonts/bb5c8c1a-4108-4d8a-ad38-4ca447521c60.woff") format("woff"),url("/assets/fonts/e952c5ea-e1bc-4b78-8d53-774280257272.ttf") format("truetype"),url("/assets/fonts/3ce763ac-0545-4f82-9d05-affe0686d0d7.svg#3ce763ac-0545-4f82-9d05-affe0686d0d7") format("svg");
}
@font-face{
    font-family:"Bembo MT W01 Italic705759";
    src:url("/assets/fonts/59730544-eaf2-4e85-b40c-3a1937804890.eot?#iefix");
    src:url("/assets/fonts/59730544-eaf2-4e85-b40c-3a1937804890.eot?#iefix") format("eot"),url("/assets/fonts/c94b1030-cc7a-4538-9481-91e2a539d44b.woff2") format("woff2"),url("/assets/fonts/40023eb7-1ce9-487f-9c94-2dd2ae7022d3.woff") format("woff"),url("/assets/fonts/de1c2983-6261-49d8-a943-8d7ceda898b1.ttf") format("truetype"),url("/assets/fonts/1f53f4dc-ca15-462e-b829-98f0c696e1ad.svg#1f53f4dc-ca15-462e-b829-98f0c696e1ad") format("svg");
}