#homePageMainSlider{
	height: 100%;
	.carousel-inner{
		height: 100%;
	}
	.carousel-item{
		height: 100%;
		.carousel-caption{
			bottom: 100px;
			h2{
				color: $white;
				font-size: 6.25rem;
				font-family: $headings_font;
				text-transform: none;
					@include media-breakpoint-down(lg) {
					 font-size: 4.25rem;
					}
					@include media-breakpoint-down(md) {
					 font-size: 3.25rem;
					}
					@include media-breakpoint-down(sm) {
					 font-size: 2.25rem;
					}
			}
		}
	}
}

.carousel-arrows{
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 120px;
	height: 56px;
	margin: auto;
	z-index: 99;
	a{
		width: 50%;
		height: 56px;
		background-color: $white;
		display: inline-block;
		float: left;
		@include transition-time(0.4s);
		opacity: 0.8;
		&:hover{
			opacity: 1;
		}
		&.left-arrow{
			background-image: url(/assets/images/home/left-arrow-grey.png);			
		}
		&.right-arrow{
			background-image: url(/assets/images/home/right-arrow-grey.png);
		}
	}
}

.welcome-section-bg{
	background-position: center bottom;
	min-height: 500px;
	background-color: $pink-bg;
	padding-top: 2.5rem;
	@include media-breakpoint-up(sm) {
		min-height: 900px;
	}
	@include media-breakpoint-up(md) {
		min-height: 1200px;
		padding-top: 3.5rem;
	}
	@include media-breakpoint-up(xl) {
		min-height: 1570px;
		padding-top: 6.5rem;
	}
	.welcome-container{
		@extend .container;
		.welcome-row {
			@extend .row;
			.welcome-left, .welcome-right{
				@extend .col-lg-6;
				padding: 0px;
				h2{
					color: $black;
					text-transform: none;
				}
			}
			.welcome-left{
				@extend .col-md-7;
				padding-bottom: 2rem;
				p{
					padding-bottom: 2.5rem;
				}
			}
			.left-line{
				margin: 1.125rem 0;
				@include media-breakpoint-up(lg) {
					margin: 3.125rem 0 1rem;
				}
			}
			.welcome-right{
				@extend .col-md-5;
				img{
					width: 100%;
					@include media-breakpoint-up(md) {
						padding-left: 2.5rem;
					}
					@include media-breakpoint-up(xl) {
						padding-left: 7.5rem;
					}
				}
			}
		}
	}
}

.full-text-section{
	.text-section-container{
		@extend .container;
		padding-top: 2rem;
		padding-bottom: 3rem;
		@include media-breakpoint-up(lg) {
			padding-top: 5rem;
			padding-bottom: 6rem;
		}
		.text-row{
			@extend .row;
			.text-col{
				@extend .col-md-6;
				padding: 0px;
				.theme-btn{
					margin-bottom: 20px;
				}
				.left-gap{
					@include media-breakpoint-up(md) {
						padding-left: 40px;
					}

					@include media-breakpoint-up(xl) {
						padding-left: 120px;
					}
				}
				h2{
					color: $black;
					text-transform: none;
				}
				.semi-ital{
					margin-top: 30px;
					margin-bottom: 35px;
				}
			}
		}
	}
	&.side-image{
		h2{
			padding-bottom: 20px;
		}
		p{
			padding-bottom: 3.75rem;
		}
		a{
			margin-bottom: 2rem;
			width: 100%;
			text-align: center;
			@media screen and (min-width: 500px){
				margin-right: 20px;
				width: auto;
				text-align: left;
			}
		}
		img{
			width: 100%;
		}
	}
}

.recent-blog-posts{
	background-color: $light-grey;
	padding: 5.625rem 0 6.25rem 0;
	.blog-container{
		@extend .container;
		h2{
			padding-bottom: 6.25rem;
			text-transform: none;
			color: $black;
		}
	}
}