#homePageMainSlider{
	height: 100%;
	.carousel-inner{
		height: 100%;
	}
	.carousel-item{
		height: 100%;
		.carousel-caption{
			bottom: 100px;
			h2{
				color: $white;
				font-size: 6.25rem;
				font-family: $headings_font;
				text-transform: none;
					@include media-breakpoint-down(lg) {
					 font-size: 4.25rem;
					}
					@include media-breakpoint-down(md) {
					 font-size: 3.25rem;
					}
					@include media-breakpoint-down(sm) {
					 font-size: 2.25rem;
					}
			}
		}
	}
}
.carousel-arrows{
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 120px;
	height: 56px;
	margin: auto;
	z-index: 9999;
	a{
		width: 50%;
		height: 56px;
		background-color: $white;
		display: inline-block;
		float: left;
		@include transition-time(0.4s);
		opacity: 0.8;
		&:hover{
			opacity: 1;
		}
		&.left-arrow{
			background-image: url(/assets/images/home/left-arrow-grey.png);			
		}
		&.right-arrow{
			background-image: url(/assets/images/home/right-arrow-grey.png);
		}
	}
}
.welcome-section-bg{
	.welcome-container{
		@extend .container;
		padding: 0px;
	}
	background-position: center bottom;
	@include media-breakpoint-up(xl) {
		min-height: 900px;
	}
	@include media-breakpoint-up(md) {
		min-height: 1600px;
	}
	@include media-breakpoint-up(xl) {
		min-height: 2000px;
	}
}