#homePageMainSlider{
	height: 100%;
	.carousel-inner{
		height: 100%;
	}
	.carousel-item{
		height: 100%;
		.carousel-caption{
			bottom: 100px;
			h2{
				color: $white;
				font-size: 6.25rem;
				font-family: $headings_font;
				text-transform: none;
				@include media-breakpoint-down(lg) {
				 	font-size: 4.25rem;
				}
				@include media-breakpoint-down(md) {
				 	font-size: 3.25rem;
				}
				@include media-breakpoint-down(sm) {
				 	font-size: 2.25rem;
				}
			}
		}
	}
}

.carousel-arrows{
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 120px;
	height: 56px;
	margin: auto;
	z-index: 99;
	a{
		width: 50%;
		height: 56px;
		background-color: $white;
		display: inline-block;
		float: left;
		@include transition-time(0.4s);
		opacity: 0.8;
		&:hover{
			opacity: 1;
		}
		&.left-arrow{
			background-image: url(/assets/images/home/left-arrow-grey.png);			
		}
		&.right-arrow{
			background-image: url(/assets/images/home/right-arrow-grey.png);
		}
	}
}

.welcome-section-bg{
	background-position: center bottom;
	min-height: 500px;
	background-color: $pink-bg;
	padding-top: 2.5rem;
	@include media-breakpoint-up(sm) {
		min-height: 900px;
	}
	@include media-breakpoint-up(md) {
		min-height: 1200px;
		padding-top: 3.5rem;
	}
	@include media-breakpoint-up(xl) {
		min-height: 1570px;
		padding-top: 6.5rem;
	}
	.welcome-container{
		@extend .container;
		.welcome-row {
			@extend .row;
			.welcome-left, .welcome-right{
				@extend .col-lg-6;
				padding: 0px;
				h2{
					color: $black;
					text-transform: none;
				}
			}
			.welcome-left{
				@extend .col-md-7;
				padding-bottom: 2rem;
				p{
					padding-bottom: 2.5rem;
				}
			}
			.left-line{
				margin: 1.125rem 0;
				@include media-breakpoint-up(lg) {
					margin: 3.125rem 0 1rem;
				}
			}
			.welcome-right{
				@extend .col-md-5;
				img{
					width: 100%;
					@include media-breakpoint-up(md) {
						padding-left: 2.5rem;
					}
					@include media-breakpoint-up(xl) {
						padding-left: 7.5rem;
					}
				}
			}
		}
	}
}

.full-text-section{
	.text-section-container{
		@extend .container;
		padding-top: 2rem;
		padding-bottom: 3rem;
		@include media-breakpoint-up(lg) {
			padding-top: 5rem;
			padding-bottom: 6rem;
		}
		.text-row{
			@extend .row;
			.text-col{
				@extend .col-md-6;
				padding: 0px;
				.theme-btn{
					margin-bottom: 20px;
				}
				.left-gap{
					@include media-breakpoint-up(md) {
						padding-left: 40px;
					}

					@include media-breakpoint-up(xl) {
						padding-left: 120px;
					}
				}
				h2{
					color: $black;
					text-transform: none;
				}
				.semi-ital{
					margin-top: 30px;
					margin-bottom: 35px;
				}
			}
		}
	}
	&.side-image{
		h2{
			padding-bottom: 20px;
		}
		p{
			padding-bottom: 3.75rem;
		}
		a{
			margin-bottom: 2rem;
			width: 100%;
			text-align: center;
			@media screen and (min-width: 500px){
				margin-right: 20px;
				width: auto;
				text-align: left;
			}
		}
		img{
			width: 100%;
		}
	}
}

.rooms-container{
	@extend .container;
	.carousel-item{
		.carousel-bg{
			width: 100%;
		}
		.room-text{
			background-color: $transparent-white2;
		    padding: 1.5rem 1.5rem 1.125rem 1.5rem;
		    margin: 130px auto 130px auto;
		    width: 90%;
		    text-align: center;
		    @media screen and (min-width: 1000px){
		    	width: 55%;
		    	text-align: left;
		    	padding: 2.5rem 2.5rem 3.125rem 2.5rem;
		    	 margin: 230px auto 230px auto;
		    }
		    @media screen and (min-width: 1240px){
			    width: 40%;
			}
		    @media screen and (min-width: 1420px){
		    	width: 35%;
		    }
		    .slide-count{
		    	font-style: 14px;
		    	color: $black;
		    	position: relative;
    			top: 10px;
    			@media screen and (max-width: 999px){
    				display: none;
    			}
		    }
		    h3{
		    	padding-bottom: 1.5rem;
		    	@media screen and (max-width: 999px){
		    		padding-left: 0px;
		    		&:before{
		    			display: none;
		    		}
		    	}
		    }
		    p{
		    	text-transform: uppercase;
		    	color: $hover-green;
		    	font-style: 1.125rem;
		    	padding-bottom:  2.5rem;
		    }
		    a{
		    	margin-right: 20px;
		    	@media screen and (max-width: 999px){
		    		margin-right: 0px;
		    		margin-bottom: 1rem;
		    	}
		    }
		}
	}
}

.carousel-indicators{
	&.custom{		
		bottom: 0;
	    top: 0;
	    right: 0;
	    background: $dark-grey;
	    width: 100px;
	    margin: 0;
	    left: auto;
	    display: block;
	    padding-top: 70px;
	    @media screen and (max-width: 999px) {
			display: none;
		}
	    li{
	    	max-width: none;
		    margin-left: 50px;
		    width: 50px;
		    margin-top: 120px;
		    position: relative;
		    span{
		    	position: absolute;
			    color: $transparent-white3;
			    top: -25px;
			    left: 17px;
			    font-size: 14px;
			    text-align: right;
		    }
		    &.active{
		    	span{
		    		color: $white;
		    	}
		    }
	    }
	}
}

.special-offers{

	@include media-breakpoint-up(sm) {
		min-height: 1000px;
		margin-top: 3.5rem;
	}	

	@include media-breakpoint-up(lg) {
		min-height: 1920px;
		margin-top: 7.5rem;
	}
	
	background-position: center bottom;
	h2{
		padding-top: 2.5rem;
		padding-bottom: 2.5rem;
		color: $black;
		text-align: center;
		text-transform: none;
	}
	.offers-container{
		@extend .container;
		.offers-row{
			@extend .row;
			width: 100%;
			.offer-text{

				@extend .col-xl-5;
				@extend .col-lg-6;
				padding: 4rem 1.75rem;

				@media screen and (min-width: 1400px){
					padding: 8rem 1.75rem;
				}

				@include media-breakpoint-down(md) {
					text-align: center;
					padding-top: 6rem;
				}

				background-color: $primary-color;
				h3{
					color: $white;
					padding-bottom: 2.5rem;
				}
				p{
					color: $white;
					padding-bottom: 3rem;
				}
				a{
					margin: 0 1.25rem 1rem 0;
					width: 190px;
					text-align: center;
				}
				.left-line{
					&:before{
						background-color: $white;
					}
				}
				.slide-count{
			    	font-style: 14px;
			    	color: $white;
			    	position: relative;
	    			top: 10px;
	    			@media screen and (max-width: 999px){
	    				display: none;
	    			}
			    }
			}
			.offer-img{
				@extend .col-xl-7;
				@extend .col-lg-6;
				@include media-breakpoint-down(md) {
					min-height: 400px;
				}
			}
		}
		.carousel-indicators{
			&.custom{
				background-color: $primary-color;
				padding-top: 0px;
				li{
					margin-top: 60px;
				}
			}
		}
		.carousel-arrows{
			top: 0;
		    bottom: auto;
		    left: 0;
		    right: auto;
		    @include media-breakpoint-down(md) {
		    	right: 0;
		    }
		}
	}
}

.recent-blog-posts{
	background-color: $light-grey;
	padding: 5.625rem 0 3.25rem 0;
	.blog-container{
		@extend .container;
		h2{
			padding-bottom: 4.25rem;
			text-transform: none;
			color: $black;
		}
		.blog-row{
			@extend .row;
			.blog-item{
				@extend .col-md-4;
				margin-bottom: 2rem;
				padding-left: 5px;
				padding-right: 5px;
				@media screen and (min-width: 768px){					
					padding-left: 10px;
					padding-right: 10px;
				}				
				@media screen and (min-width: 1350px){					
					padding-left: 50px;
					padding-right: 50px;
				}
				.blog-image{
					margin-bottom: 1.5rem;
					@media screen and (min-width: 1350px){
						margin-bottom: 3rem;
					}
					img{
						width: 100%;
					}
				}
				h3{
					margin-bottom: 1.5rem;
					@media screen and (min-width: 1350px){
						margin-bottom: 2rem;
					}
				}
				a{
					color: $hover-green;
					text-transform: uppercase;
					font-style: 0.8rem;
					letter-spacing: 0.8px;
					.fa{
						margin-left: 5px;
					}
					&:hover{
						color: $dark-grey;
					}
				}
			}
		}
	}
}