.navbar-section{
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: 999;
	.navbar{
		max-width: 1680px;
		margin: auto;
		padding: 0px;
		background-color: $black-transparent;
		position: relative;
		top: 44px;
		@include transition-time(0.4s);	
		.small-logo{
			display: inline-block;			
			text-align: center;
			background-color: $white;
			padding: 17px 0 17px 0;
			width: 120px;
			@media screen and (max-width: 1650px){
				padding: 12px 0 12px 0;
			}
			@media screen and (min-width: 992px){
				display: none;
				@include transition-time(0.4s);	
				width: 300px;
			}

			@media screen and (max-width: 991px){
				width: 240px;
			}
			@media screen and (max-width: 580px){
				width: 120px;
			}
		}
		@media screen and (max-width: 1499px){
			top: 20px;
		}
		@media screen and (max-width: 991px){
			top: 0px;
		}
		.navbar-nav{
			padding-left: 35px;
			@media screen and (max-width: 1650px){
				padding-left: 25px;
			}
			@media screen and (max-width: 1499px){
				padding-left: 18px;
			}
			.nav-item{
				padding-bottom: 10px;
				padding-right: 35px;
				position: relative;
				@media screen and (max-width: 1650px){
					padding-right: 25px;
				}
				@media screen and (max-width: 1499px){
					padding-right: 18px;
				}
				@media screen and (max-width: 1299px) and (min-width: 992px){
					padding-right: 14px;
				}
				@media screen and (max-width: 991px){
					text-align: center;
				}
				&.logo-item{
					display: inline-block;
					@include transition-time(0.4s);	
				}
				a{
					@include text-formatting($site_font_medium, 0.9375rem, normal, normal, 0.5px, uppercase, $white);
					padding: 25px 0 10px 0;
					border-bottom: 1px solid transparent;
				    @include transition-time(0.4s);	
				    @media screen and (max-width: 1499px){
						font-size: .75rem;
					}
					@media screen and (max-width: 1299px) and (min-width: 992px){
						font-size: 0.7rem;
					}
					&:hover{
						color: $white;
						border-bottom: 1px solid $white;
					}
				}
				&.active {
					a{
						border-bottom: 1px solid $white;
					}
				}
				.header-logo{
				    text-align: center;	    
				    z-index: 9;
				    width: 240px;
				    margin: auto;
				    height: 0px;
					position: relative;
					top: -52px;
					margin: 0;
					@media screen and (max-width: 1499px){
						width: 210px;
						top: -37px;						
					}
					@media screen and (max-width: 1299px) and (min-width: 992px){
						width: 140px;
					}
					@media screen and (max-width: 991px){
						display: none;
					}
				    a{
				    	background-color: $white;
				    	display: inline-block;
				    	padding: 15px 30px 30px 30px;
				    	img{
				    		width: 100%;
				    	}
				    	@media screen and (max-width: 1499px){
				    		padding: 15px 10px 30px 10px;
				    	}
				    	    
				    }
				}
				&:hover{
					&>.submenu{
						display: block;
					}
				}
			}
		}
		.navbar-toggler{
			background-color: $white;
			position: absolute;
			left: 0px;
			right: 0px;
			margin: auto;
			width: 55px;
			top: 12px;
			border-radius: 0;
		}
		.check-availability-btn{
			width: 250px;
			text-align: center;
			padding: 30px 10px 30px 10px;
			border: 0px;
			font-size: 1rem;
			@media screen and (max-width: 1650px){
				padding-left: 240px;
				padding: 25px 10px 25px 10px;
			}
			@media screen and (max-width: 1040px){
				font-size: 0.95rem;
			}
			@media screen and (max-width: 991px){
				position: absolute;
				right: 0px;
				width: 240px;
    			padding: 25px 0 25px 0;
			}
			@media screen and (max-width: 580px){
				width: 120px;
			}

		}
	}
}

.scroll-header{
	.navbar{
		.small-logo{
			display: inline-block;	
		}
		top: 0px;
		.navbar-nav{
			margin-left:auto;
			.nav-item{
				&.logo-item{
					display: none;
				}
			}
		}
	}
}

.submenu{
	position: absolute;
    background-color: $black-transparent;
	padding: 5px 15px 9px 14px;
    left: 0px;
    display: none;
    top: 64px;
    li{
		margin: 10px 0 10px 0;
    	a{
    		border-bottom: 0px !important;
    	}
    }
    @media screen and (max-width: 991px){
    	position: static;
    }
    &.rfp{
    	@media screen and (min-width: 992px){
	    	width: 195px;
		    left: -65px;
		    text-align: center;
		}
    }
}