/* Colors */

$primary-color: #A54F55;
$black: #000;
$white: #FFF;
$hover-green: #768347;
$dark-grey: #333333;
$light-grey: #F2F1F0;

/* Fonts */

$site_font: "Avenir LT W01_45 Book1475508";
$site_font_medium: "Avenir LT W01_45 Book1475508";
$site_font_bold: "Avenir LT W01_95 Black1475556";

$headings_font: "Bembo W01";
$headings_font_bold: "Bembo MT W01 Semibold705762";
$headings_font_ita: "Bembo MT W01 Italic705759";
$headings_font_semiboldita: "BemboMTW01-SemiboldItal";