---
---
<!DOCTYPE html>
<html lang="{{ site.active_lang | slice: 0,2 | default: "en" }}" class="no-js">
    <head>
        {% include head.html %}
        {% include head/custom.html %}
    </head>
    <body>
        {% if site.data.tracking.analytics.provider and page.analytics != false %}
        {% case site.data.tracking.analytics.provider %}
        {% when "gtm" %}
        {% include analytics/gtm-body.html %}
        {% endcase %}
        {% endif %}
        {% include mainnav.html %}

            {{content}}
        
        {% include footer.html %}
        {% include scripts.html %}
        <!-- Google Code for Remarketing Tag --> 
        <!-- ------------------------------------------------ 
        Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup 
        ------------------------------------------------- --> 
        <script type="text/javascript"> 
        /* <![CDATA[ */ 
        var google_conversion_id = 877500593; 
        var google_conversion_label = "rj1SCJnvqXMQsbG2ogM"; 
        var google_custom_params = window.google_tag_params; 
        var google_remarketing_only = true; 
        /* ]]> */ 
        </script> 
        <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"> 
        </script> 
        <noscript> 
        <div style="display:inline;"> 
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/877500593/?value=1.00&amp;label=rj1SCJnvqXMQsbG2ogM&amp;guid=ON&amp;script=0"/> 
        </div> 
        </noscript>
    </body>
</html>
