---
layout: default
title: ""
meta_description: ""
parent: /offers/
---

{% assign offers = page %}
{% assign model = page %}

<div id="fb-root"></div>
<section class="inner-page-banner bg-img-cover offers-banner" style="background-image: url({{offers.large_image.url}});">
</section>


<section class="accommodations-container no-padding">
		<div class="accommodations-row">
		<div class="accommodations-col">
	

			<h3> <span class="italic"> {{offers.title}}</h3>
				<div class="left-line">
		
			<h5  class="semi-ital">The Wine Country Inn & Cottages is a destination in and of itself. During your time at this St. Helena inn, your cares will melt away as you achieve total relaxation.	</h5>
					<p>{{offers.long_description}} </p>

					<a href="{{ offers.check_rate_url }}" target="_blank" class="theme-btn">Book Offer <i class="fa fa-angle-right" aria-hidden="true"></i></a>
					
			</div>
		</div>
		</div>	
</section>

{% include special-offer-slider.html %}

{% include elope-banner.html %}