---
layout: default
title: 
meta_description: 
parent: offers
---

{% assign offers = page %}
{% assign model = page %}

<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
    FB.init({appId: '1944703949100229', status: true, cookie: true,
    xfbml: true});
    };
    (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol +
    '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
    }());
</script>
<script type="text/javascript">
	
	
	
</script>
<section class="inner-page-banner bg-img-cover" style="background-image: url({{offers.large_image.url}});">
</section>


<section class="accommodations-container no-padding">
		<div class="accommodations-row">
		<div class="accommodations-col">
	

			<h3> <span class="italic"> {{offers.title}}</h3>
				<div class="left-line">
		
			<h5>From treetops to magnificent panoramic views, enjoy a spectacular morning soaring above it all. Enjoy an approximately one hour hot air balloon ride, followed by a scrumptious post-flight champagne brunch at Domaine Chandon Winery.	</h5>
					<p>{{offers.long_description}} </p>

					<a href="#" class="theme-btn">enquire now <i class="fa fa-angle-right" aria-hidden="true"></i></a>
					
			</div>
		</div>
		</div>	
</section>

{% include special-offer-slider.html %}

<section class="common-banner" style="background-image: url(/assets/images/banner-offer-details.jpg);">
	
	<div class="banner-content">
		<h4> <span class="italic">Elope </span> to the romantic Napa Valley.</h4>
		<div class="ita_large_text left-line">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</div>
		<a href="/" target="_blank" class="theme-btn" target="_blank">book your stay<i class="fa  fa-angle-right" aria-hidden="true"></i></a>

	</div>

</section>